<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="equipment" required="true" type="edu.iit.sat.itmd4515.sfuseini.domain.Equipment"/> 
        <cc:attribute name="readonly" type="java.lang.Boolean" default="true" required="false"/>
        <cc:attribute name="disabled" type="java.lang.Boolean" default="true" required="false"/>
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="equipmentId" value="Serial Number" />
                <h:inputText class="form-control" id="equipmentId" disabled="#{cc.attrs.disabled ? 'true' : 'false'}" readonly="#{cc.attrs.readonly ? 'true' : 'false'}" value="#{cc.attrs.equipment.serialNumber}"/>
                <h:inputHidden rendered="#{cc.attrs.disabled}" class="form-control" id="equipmentIdHidden" value="#{cc.attrs.equipment.serialNumber}"/>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="brandName" value="Brand Name" />
                <h:inputText class="form-control" id="brandName" readonly="#{cc.attrs.readonly ? 'true' : 'false'}" value="#{cc.attrs.equipment.brandName}"/>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="category" value="Category" />
                <h:selectOneMenu class="form-control" id="category" value="#{cc.attrs.equipment.category}" disabled="#{cc.attrs.readonly ? 'true' : 'false'}">
                    <f:selectItem itemLabel="Excavator" itemValue="Excavator" />
                    <f:selectItem itemLabel="Compactor" itemValue="Compactor" />
                    <f:selectItem itemLabel="Grader" itemValue="Grader" />
                    <f:selectItem itemLabel="Hydromatic tool" itemValue="Hydromatic tool" />
                    <f:selectItem itemLabel="Loader" itemValue="Loader" />
                    <f:selectItem itemLabel="Material handler" itemValue="Material handler" />
                    <f:selectItem itemLabel="Mining" itemValue="Mining" />
                    <f:selectItem itemLabel="Paving" itemValue="Paving" />
                    <f:selectItem itemLabel="Pipelayer" itemValue="Pipelayer" />
                    <f:selectItem itemLabel="Scraper" itemValue="Scraper" />
                    <f:selectItem itemLabel="SkidSteer" itemValue="SkidSteer" />
                    <f:selectItem itemLabel="Track loader" itemValue="Track loader" />
                    <f:selectItem itemLabel="Tractor" itemValue="Tractor" />
                    <f:selectItem itemLabel="Underground tool" itemValue="Underground tool" />
                    <f:selectItem itemLabel="Other" itemValue="Other" />
                </h:selectOneMenu>    
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="type" value="Type" />
                <h:inputText class="form-control" id="type" readonly="#{cc.attrs.readonly ? 'true' : 'false'}" value="#{cc.attrs.equipment.type}"/>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="model" value="Model" />
                <h:inputText class="form-control" id="model" readonly="#{cc.attrs.readonly ? 'true' : 'false'}" value="#{cc.attrs.equipment.model}"/>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="chassisNumber" value="Chassis Number" />
                <h:inputText class="form-control" id="chassisNumber" readonly="#{cc.attrs.readonly ? 'true' : 'false'}" value="#{cc.attrs.equipment.chassisNumber}"/>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="engineNumber" value="Engine Number" />
                <h:inputText class="form-control" id="engineNumber" readonly="#{cc.attrs.readonly ? 'true' : 'false'}" value="#{cc.attrs.equipment.engineNumber}"/>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="registrationNumber" value="Registration Number" />
                <h:inputText class="form-control" id="registrationNumber" readonly="#{cc.attrs.readonly ? 'true' : 'false'}" value="#{cc.attrs.equipment.registrationNumber}"/>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="odometerReading" value="Odometer Reading" />
                <h:inputText class="form-control" id="odometerReading" readonly="#{cc.attrs.readonly ? 'true' : 'false'}" value="#{cc.attrs.equipment.odometerReading}"/>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="manufactureDate" value="Manufacture date" />
                <h:inputText class="form-control" id="manufactureDate" readonly="#{cc.attrs.readonly ? 'true' : 'false'}" value="#{cc.attrs.equipment.manufactureDate}" a:placeholer="yyyy-MM-dd">
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                </h:inputText>
            </h:panelGroup>
            <h:panelGroup layout="block" class="form-group">
                <h:outputLabel for="purchaseDate" value="Purchase date" />
                <h:inputText class="form-control" id="purchaseDate" readonly="#{cc.attrs.readonly ? 'true' : 'false'}" value="#{cc.attrs.equipment.purchaseDate}" a:placeholer="yyyy-MM-dd">
                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                </h:inputText>
            </h:panelGroup>
            <h:button class="btn btn-default" outcome="/clerk/welcome.xhtml" value="Back" />
            <h:commandButton rendered="#{not cc.attrs.readonly}" class="btn btn-success" action="#{cc.attrs.action}" value="Save Changes" />
        </h:form>
    </cc:implementation>
</html>