<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">
    <h:head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title><ui:insert name="title">Default title</ui:insert></title>

        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="./css/screen.css" />
        <link rel="stylesheet" href="../css/screen.css" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </h:head>
    <h:body>
        <h:panelGroup layout="block" class="container">
            <!-- Static navbar -->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Saitama Enterprise Ltd.</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                             <li class="#{fn:startsWith(view.viewId, '/welcome') ? 'active' : ''}"><h:link outcome="/welcome.xhtml" value="Home" /></li>
                            <ui:fragment rendered="#{loginController.manager}">
                                <li class="#{fn:startsWith(view.viewId, '/manager/welcome') ? 'active' : ''}"><h:link outcome="/manager/welcome.xhtml" value="Manager Portal" /></li>
                            </ui:fragment> 
                            <ui:fragment rendered="#{loginController.clerk}">
                                <li class="#{fn:startsWith(view.viewId, '/clerk/welcome') ? 'active' : ''}"><h:link outcome="/clerk/welcome.xhtml" value="Clerk portal" /></li>
                            </ui:fragment>   
                            <ui:fragment rendered="#{loginController.laborer}">
                                <li class="#{fn:startsWith(view.viewId, '/laborer/welcome') ? 'active' : ''}"><h:link outcome="/laborer/welcome.xhtml" value="Laborer Portal" /></li>
                            </ui:fragment>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><h:form><h:commandLink class="navbar-text" action="#{loginController.doLogout()}" value="Logout"/></h:form></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>

            <h:panelGroup rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}" layout="block" class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h:messages showDetail="true" showSummary="true" globalOnly="true" />
            </h:panelGroup>
            
            <ui:insert name="content">Default Content</ui:insert>
        </h:panelGroup>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    </h:body>
</html>

