/* ===== BASE STYLES ===== */
h3 {
    margin-bottom: 0;
}

/* ===== MODULAR STYLES ===== */
.edit,
.delete,
.view{
    width: 4em;
    float: right;
    margin-left: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.add {
    width: 20%;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

.portal-header {
    background-color: #99c199;
    padding: 2em 1em;
    border-radius: 10px;
}

.table-header {
    background-color: #e5ede5;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.jumbotron,
#login-background{
    background-color: #99c199;
}

#user-info,
#maintenance-info{
    padding-top: 1.5em;
}

#login-info {
    background: rgba(0,0,0,0.4);
    width: 100%;
    padding: 2em;
    margin-top: 40%;
}

.glyphicon-user {
    padding-left: 0.4em;
}

.btn-default {
    margin-right: 0.5em;
}

#note {
    padding: 0.5em 1em;
    background-color: #ffcccc;
    border-radius: 5px;
}

/* ===== LAYOUTSTYLES ===== */

/* ===== STATE STYLES ===== */
@media screen and (min-width: 50em) {

    #login-info {
        width: 50%;
        padding: 4em;
        margin-top: 15%;
        margin-left: 25%;
    }

}

@media screen and (min-width: 64em) {

    #login-info {
        margin-top: 20%;
    }

}

@media screen and (min-width: 83em) {

    #login-info {
        margin-top: 15%;
    }

}






