<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/authenticatedTemplate.xhtml"
                xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">

    <ui:define name="title">
        Edit Equipment
    </ui:define>

    <ui:define name="content">
        <ezcomp:equipment
            equipment="#{clerkPortalController.singleEquipment}"
            readonly="false"
            disabled="true"
            action="#{clerkPortalController.doExecuteEquipmentUpdate()}"/>
    </ui:define>

</ui:composition>
